.errorMessageContainer {
    margin-top: 16px;
    margin-bottom: -8px; /* Puxa o rodapé para perto */
    padding: 12px;
    background-color: rgba(239, 68, 68, 0.1); /* Fundo vermelho bem claro */
    border: 1px solid rgba(239, 68, 68, 0.2);
    border-radius: 6px;
    color: #f87171; /* Cor do texto vermelho */
    font-size: 14px;
    text-align: center;
}